
h2{
    text-align: center;
}

.container {
    width:100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 23%;
    height: 30%;
    background-color: #007bff;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.box2 {
    width: 48%;
    height: 30%;
    background-color: #28a745;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.box3 {
    width: 14%;
    height: 30%;
    background-color: #ffc107;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}


.form-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}

.form-label {
    font-weight: bold;
    margin-bottom: 15px;
}

.form-input {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-button {
    padding: 20px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}